<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-3 fg ">
         <%= link_to "カテゴリー" , root_path, class:"nav-link nav-item active text-white" %>
        <%= link_to "製品" , root_path, class:"nav-link nav-item active text-white" %>
        <%= link_to  "ホーム", root_path, class: "nav-item nav-link active text-white"%>
           <% if user_signed_in? %>
           <%= link_to "ログアウト",destroy_user_session_path,  :method => :delete, class: "nav-item nav-link active text-white" %>
           <%= link_to current_user.first_name  , users_show_path %></p>
           <% else %>
        <%= link_to "サインイン", new_user_session_path,class: "nav-item nav-link active text-white" %>
        <%= link_to "ユーザ登録", new_user_registration_path , class: "nav-item nav-link active text-white"%>
           <% end %>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark p-3", style="background-color: #092745;">
    <div class="container-fluid">
    <%= link_to "スポーツ" , root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <div class="navbar-nav">
            <%= link_to "カテゴリー" , root_path, class:"nav-link nav-item active" %>
            <%= link_to "製品" , root_path, class:"nav-link nav-item active" %>
        </div>
        
        <div class="navbar-nav">
            <%= link_to  "ホーム", root_path, class: "nav-item nav-link active"%>
           <% if user_signed_in? %>
           <%= link_to "ログアウト",destroy_user_session_path,  :method => :delete, class: "nav-item nav-link active" %>
           <%= link_to current_user.first_name  , users_show_path %></p>
           <% else %>
        <%= link_to "サインイン", new_user_session_path,class: "nav-item nav-link active" %>
        <%= link_to "ユーザ登録", new_user_registration_path , class: "nav-item nav-link active"%>
           <% end %>
        </div>
    </div>
    </div>
</nav>